@use '../../styles/vars';

.domainepage-container {

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  background-image: url(../../assets/images/HomePage-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: #FFF;
  font-size: 2rem;
  font-weight: bold;

  &__bg1 {
    background-image: url(../../assets/images/HomePage-1.jpg);
  }

  &__bg2 {
    background-image: url(../../assets/images/HomePage-2.jpg);
  }

  &__bg3 {
    background-image: url(../../assets/images/HomePage-3.jpg);
  }

  &__bg4 {
    background-image: url(../../assets/images/HomePage-4.jpg);
  }

  &__bg5 {
    background-image: url(../../assets/images/HomePage-5.jpg);
  }

  &__bg6 {
    background-image: url(../../assets/images/HomePage-6.jpg);
  }

  &__bg7 {
    background-image: url(../../assets/images/HomePage-7.jpg);
  }

  &__bg8 {
    background-image: url(../../assets/images/HomePage-8.jpg);
  }

  &__bg9 {
    background-image: url(../../assets/images/HomePage-9.jpg);
  }

  &__bg10 {
    background-image: url(../../assets/images/HomePage-10.jpg);
  }

}.domainepage-container {

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  background-image: url(../../assets/images/HomePage-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: vars.$color-white;
  font-size: 2rem;
  font-weight: bold;

}

.domainepage {

  &__section-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 2rem;
    padding-left: 10rem;

    background-color: rgba(0,0,0, 0.5);

    h1 {

      margin: 0;
      padding: .3rem .8rem;
      border-radius: .6rem;
      font-size: 3.2rem;
      color: black;      
      background-color: vars.$color-white;
      mix-blend-mode: screen;
      box-shadow: 0 0 15px 0 rgba(245, 245, 245, 0.5);

    }

    p {
      font-size: 1.4rem;
      font-family: 'Karbon-Light';
    }

  }

  &__section-photos {
    
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: scroll;
    background-color: vars.$color-pink;

    &--ul {

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 2px;
    }

    &--li {

      width: calc((50vw / 3) - 2px);
      height: calc((50vw / 3) - 2px);
      box-sizing: border-box;

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 5rem;

      border: 4px solid  vars.$color-pink;

    }

    &--open {

      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      padding: .5rem;
      mix-blend-mode: overlay;
      background-color: vars.$color-yellow;
      background: linear-gradient(-45deg, vars.$color-green,vars.$color-yellow,vars.$color-green);
      color: vars.$color-white;

      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;

    }

    &--li:hover > span {
      opacity: 1;

    }
    
  }

}

.modal-photos {

  &__container {

    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: vars.$modal-bg-color;

  }

  &__photo {
    display: block;
    width: 70vw;
    border-radius: 2rem;
    box-shadow: 0 0 35px vars.$color-dgrey;
    border: 1px solid vars.$modal-bg-color;
  }

}

.modal-photos__container.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal-photos__container.modal.exit {
  opacity: 0;
}