@use '../../styles/vars';

.domainepage-container {

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  background-image: url(../../assets/images/DomainePage-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: vars.$color-white;
  font-size: 2rem;
  font-weight: bold;

}

.domainepage {

  &__section-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    width: calc(100% / 3 ) * 2;
    height: 100vh;
    box-sizing: border-box;
    padding-right: 2rem;
    padding-left: 12vw;

    background-color: rgba(0,0,0, 0.5);

    p {
      font-size: 1.4rem;
      font-family: 'Karbon-Light';
    }

  }

  &__section-photos {
    
    width: calc(100vw / 3 ) * 1;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: scroll;
    background-color: vars.$color-pink;

    &--ul {

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style: none;
      margin: 0;

    }

    &--li {

      width: calc(((100vw / 3) / 3) - 2px);
      height: calc(((100vw / 3) / 3) - 2px);
      box-sizing: border-box;

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      border-left: 6px solid  vars.$color-pink;
      border-top: 6px solid  vars.$color-pink;

    }

    &--open {

      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      padding: .5rem;
      mix-blend-mode: overlay;
      background-color: vars.$color-yellow;
      background: linear-gradient(-45deg, vars.$color-green,vars.$color-yellow,vars.$color-green);
      color: vars.$color-white;

      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;

    }

    &--li:hover > span {
      opacity: 1;

    }
    
  }

}

.modal-photos {

  &__container {

    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: vars.$modal-bg-color;

  }

  &__photo {
    display: block;
    width: 70vw;
    border-radius: 1rem;
    box-shadow: 0 0 35px vars.$color-dgrey;
    border: 1px solid vars.$modal-bg-color;
  }

}

.modal-photos__container.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal-photos__container.modal.exit {
  opacity: 0;
}