@media only screen and (max-width: 480px) {

  .winespage {

    &__controls {
  
      z-index: 500;
      position: fixed;
      transform: unset;
      min-width: 100vw;

    }

    &__controls ul {

      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }

    &__controls li {
    width: 3.5rem;
    height: 3.5rem;
    } 

  &__controls li:before {
    width: 1rem;
    height: 1rem;
  }
  
    &__logo {
  
      width: 110px;
      height: 110px;
  
    }
  
    &__bottles {
  
      &--bottle {
      
        &-container {
          
          height: 85vh;
          background-position: top 10vh center;

          &-Elixir {
            background-color: vars.$color-Elixir-D;
            background-position: top center;
            background-image: url(../../assets/images/Wine-BottleElixir.png), 
                              radial-gradient(circle, vars.$color-Elixir-L, vars.$color-Elixir-D);
          }
  
          &-Godefroy {
            background-color: vars.$color-Godefroy-D;
            background-position: top center;
            background-image: url(../../assets/images/Wine-BottleGodefroy.png), 
                              radial-gradient(circle, vars.$color-Godefroy-L, vars.$color-Godefroy-D);
          }
  
          &-Brouilly {
            background-color: vars.$color-Brouilly-D;
            background-position: top center;
            background-image: url(../../assets/images/Wine-BottleBrouilly.png), 
                              radial-gradient(circle, vars.$color-Brouilly-L, vars.$color-Brouilly-D);
          }
  
          &-CDB {
            background-color: vars.$color-CDB-D;
            background-position: top center;
            background-image: url(../../assets/images/Wine-BottleCDB.png), 
                              radial-gradient(circle, vars.$color-CDB-L, vars.$color-CDB-D);
          }
  
          &-Passion {
            background-color: vars.$color-Passion-D;
            background-position: top center;
            background-image: url(../../assets/images/Wine-BottlePassion.png), 
                              radial-gradient(circle, vars.$color-Passion-L, vars.$color-Passion-D);
          }
        
        }
  
      }

      &--info {

        &-container {

          min-height: 175vh!important;

          p > em {
            line-height: 0rem;
          }
          
        }

        &-title {
          margin-top: 1rem;
          padding: 2rem 0;

          &-Elixir {
            min-width: 90vw;
            max-height: 8vh;
            background-size: 60vw;
          }
  
          &-Godefroy {
            min-width: 90vw;
            max-height: 8vh;
          }
  
          &-Brouilly {
            min-width: 90vw;
            max-height: 8vh;
          }
  
          &-CDB {
            min-width: 90vw;
            max-height: 8vh;
          }
  
        }
  
        &-container > p {
          width: 85vw;
          font-size: .9rem;
          line-height: 1.3rem;
          letter-spacing: .05rem;
          text-align: justify;
        }
  
        &-container > h3 {
          width: 85vw;
          padding: 0;
          margin-top: 0;
          font-size: 1.2rem;
        }
    
        &-container > aside > ul {
          width: 85vw;
          font-size: .9rem;
          font-weight: 200;

          li {
            padding-left: 1rem;
            line-height: 1.8rem;
          }
  
        }

        &-container > aside > ul > li > ul > li > em {
          font-weight: 300;
          display: inline-block;
          min-width: 22vw;
          text-transform: capitalize;
        }

        //* ----------------------------------------------------------------------
        //* This is the CSS for the Characteristics of the wine ------------------ 
        &-container > aside > ul > li > ul > li > span {
  
          width: .6rem;
          height: .6rem;
        
        }
  
        &-container > aside > ul > li > ul > li > span {
          border: 1px solid transparent;
        }

        &-hve {
          width: 80vw;
          justify-content: flex-end;
          font-size: 1.2rem;
          height: 90px;
        }
  
      }
  
    }
  
  }

}


@media only screen and (min-width: 481px) and (max-width: 850px) {
  
  .winespage {

    &__controls li {
  
      width: 4rem;
      height: 4rem;
      
    }
  
    &__controls li:before {
      width: 1rem;
      height: 1rem;
  
    }

    &__logo {
      width: 110px;
      height: 110px;
    }

    &__bottles {

      &--info {
  
        &-container > p {
          font-size: .9rem;
          line-height: 1.3rem;
          letter-spacing: .05rem;
          text-align: justify;
        }
  
        &-container > h3 {
          padding: 0;
          margin-top: 2rem;
        }
    
        &-container > aside > ul {
          font-size: .9rem;
          font-weight: 100;
  
        }

        &-container > aside > ul {

          li {
            padding-left: 1rem;
            line-height: 2rem;;
          }
  
        }

        //* ----------------------------------------------------------------------
        //* This is the CSS for the Characteristics of the wine ------------------ 
        &-container > aside > ul > li > ul > li > span {
  
          width: .6rem;
          height: .6rem;
        
        }
  
        &-container > aside > ul > li > ul > li > span {
          border: 1px solid transparent;
        }

        &-hve {
          width: 70vw;
          justify-content: flex-end;
        }
  
      }

    }

  }

}


@media only screen and (min-width: 850px) and (max-width: 1366px) {
  
  .winespage {

    &__logo {
      width: 130px;
      height: 130px;
    }

    &__bottles {

      &--info {

        &-container > p {
          font-size: 1rem;
        }
  
        &-container > h3 {
          padding: 0;
          margin-top: 0;
          font-size: 1.4rem;
        }
    
        &-container > aside > ul {
          font-size: 1rem;
          font-weight: 200;

          li {
            padding-left: 1rem;
            line-height: 2rem;
          }
        
        }

        &-hve {
          width: 50vw;
          justify-content: flex-end;
        }

      }

    }

  }

}