@use '../../styles/vars';


.winespage {

  &__controls {

    position: fixed;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    width: 5rem;

  }

  &__controls li {

    position: relative;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(vars.$color-black, .4);
    cursor: pointer;

  }

  &__controls li:hover {
    background: rgba(vars.$color-black, 1)
  }

  &__controls li:before {

    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-left: 3px solid vars.$color-white;
    border-bottom: 3px solid vars.$color-white;
    transform: rotate(45deg);

  }

  &__controls li:last-child:before {
    transform: rotate(225deg);
  }
  
  &-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 200%;

  }

  &__logo {

    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 180px;
    height: 180px;

    background-image: url(../../assets/images/PageLogo-W.png);
    background-size: contain;
    background-repeat: no-repeat;

  }

  &__bottles {

    &--container {

      display: none;

      &-active {

        display: block;

      }
      
    }

    &--bottle {
    
      &-container {

        min-width: 100vw;
        height: 105vh;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;

        &-Elixir {
          background-color: vars.$color-Elixir-D;
          background-image: url(../../assets/images/Wine-BottleElixir.png), 
                            radial-gradient(circle, vars.$color-Elixir-L, vars.$color-Elixir-D);
        }

        &-Godefroy {
          background-color: vars.$color-Godefroy-D;
          background-position: top center;
          background-image: url(../../assets/images/Wine-BottleGodefroy.png), 
                            radial-gradient(circle, vars.$color-Godefroy-L, vars.$color-Godefroy-D);
        }

        &-Brouilly {
          background-color: vars.$color-Brouilly-D;
          background-position: top center;
          background-image: url(../../assets/images/Wine-BottleBrouilly.png), 
                            radial-gradient(circle, vars.$color-Brouilly-L, vars.$color-Brouilly-D);
        }

        &-CDB {
          background-color: vars.$color-CDB-D;
          background-position: top center;
          background-image: url(../../assets/images/Wine-BottleCDB.png), 
                            radial-gradient(circle, vars.$color-CDB-L, vars.$color-CDB-D);
        }
      
      }

    }

    &--info {

      &-container {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 5rem;
        bottom: 0;

        &-Elixir {
          border-top: 2px solid vars.$color-Elixir-D;
          background: linear-gradient(vars.$color-Elixir-L,  vars.$color-Elixir-D);
          box-shadow: 0 5px 25px rgba(vars.$color-Elixir-D, .8); 
        }

        &-Godefroy {
          border-top: 2px solid vars.$color-Godefroy-D;
          background: linear-gradient(vars.$color-Godefroy-D,  vars.$color-Godefroy-L);
          box-shadow: 0 5px 25px rgba(vars.$color-black, .8); 
        }

        &-Brouilly {
          border-top: 2px solid vars.$color-Brouilly-D;
          background: linear-gradient(vars.$color-Brouilly-D,  vars.$color-Brouilly-L);
          box-shadow: 0 5px 25px rgba(vars.$color-black, .8); 
        }

        &-CDB {
          border-top: 2px solid vars.$color-CDB-D;
          background: linear-gradient(vars.$color-CDB-D,  vars.$color-CDB-L);
          box-shadow: 0 5px 25px rgba(vars.$color-black, .8); 
        }
        
        em {
          font-style: normal;
          font-weight: 500;
          color: vars.$color-red;
        }

          em.Elixir {
            color: vars.$color-hve;
          }

          em.Godefroy {
            color: vars.$color-red;
          }

          em.Brouilly {
            color: vars.$color-yellow;
          }

          em.CDB {
            color: vars.$color-Elixir-D;
          }

        p > em {
          line-height: 2rem;
        }

        p {          
          width: 70vw;
          margin-bottom: 2rem;
          font-weight: 300;
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: .05rem;
          text-align: justify;
        }

          p.Elixir {
            background: -webkit-linear-gradient(#fefefe, #cecece);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p.Godefroy {
            background: -webkit-linear-gradient(vars.$color-red, #111);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p.Brouilly {
            background: -webkit-linear-gradient(#fefefe, #cecece);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p.CDB {
            background: -webkit-linear-gradient(#fefefe, #cecece);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }


      }

      &-title {

        padding-top: 5rem;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &-Elixir {
          min-width: 280px;
          height: 150px;
          background-image: url(../../assets/images/Wine-TitleElixir.png);
        }

        &-Godefroy {
          min-width: 480px;
          height: 150px;
          background-image: url(../../assets/images/Wine-TitleGodefroy.png);
        }

        &-Brouilly {
          min-width: 480px;
          height: 150px;
          background-image: url(../../assets/images/Wine-TitleBrouilly.png);
        }

        &-CDB {
          min-width: 480px;
          height: 150px;
          background-image: url(../../assets/images/Wine-TitleCDB.png);
        }

      }

      &-container > h3 {
        width: 70vw;
        margin-top: 3rem;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.6rem;
      }

        &-container > h3.Elixir {
          color: vars.$color-hve;
        }

        &-container > h3.Godefroy {
          color: vars.$color-red;
        }

        &-container > h3.Brouilly {
          color: vars.$color-yellow;
        }

        &-container > h3.CDB {
          color: vars.$color-Elixir-D;
        }

      &-container > aside > ul {
        width: 70vw;
        font-size: 1.4rem;
        font-weight: 100;

        li {
          padding-left: 1rem;
          line-height: 2.4rem;;
        }

      }

      &-container > aside > ul.Elixir, 
      &-container > aside > ul.Brouilly, 
      &-container > aside > ul.CDB {
        color: vars.$color-white;
      }

      &-container > aside >  {
        color: vars.$color-white;
      }

      &-hve {
        width: 30vw;
        height: 110px;
        margin-top: 3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-position: center left;
        background-size: contain;
        background-repeat: no-repeat;
        color: vars.$color-hve;
        text-align: right;
        font-size: 1.6rem;
        font-weight: 300;

        &-Elixir{
          background-image: url(../../assets/images/HVE.png);
          color: vars.$color-hve;
        }

        &-Godefroy{
          background-image: url(../../assets/images/HVE-R.png);
          color: vars.$color-red;
        }

        &-Brouilly{
          background-image: url(../../assets/images/HVE-Y.png);
          color: vars.$color-yellow;
        }

        &-CDB{
          background-image: url(../../assets/images/HVE-DB.png);
          color: vars.$color-Elixir-D;
        }
      
      }

    }

  }

}

@import './responsive.scss';