/* ----- FONTS ----- */
$font: 'Roboto';

/* ----- Style Navbar, Header, Carousel ----- */
$navbar-btn-main: RGBA(0, 0, 0, .4);

$navbar-btn-domaine: RGBA(204, 89, 67, .6);
$navbar-btn-vins: RGBA(233, 139, 46, .6);
$navbar-btn-news: RGBA(136, 129, 56, .6);
$navbar-btn-boutique: RGBA(159, 32, 50, .6);
$navbar-btn-contact: RGBA(138, 80, 40, .6);

$navbar-label-domaine: RGBA(204, 89, 67, .9);
$navbar-label-vins: RGBA(233, 139, 46, .9);
$navbar-label-news: RGBA(136, 129, 56, .9);
$navbar-label-boutique: RGBA(159, 32, 50, .9);
$navbar-label-contact: RGBA(138, 80, 40, .9);

$navbar-text-shadow-color: rgba(25, 25, 25, .4);
$navbar-shadow-color: rgba(25, 25, 25, .2);

$navbar-font-size: 2rem;
$navbar-font-weight: 300;

/* ----- COLORS ----- */
$color-pink : RGB(204, 89, 67);
$color-yellow : RGB(233, 139, 46);
$color-green : RGB(136, 129, 56);
$color-red : RGB(159, 32, 50);
$color-brown : RGB(138, 80, 40);
$color-white: #fefefe;
$color-black: #151515;
$color-dgrey: #222222;
$color-ngrey: #777777;
$color-lgrey: #999;

/* ----- BOX-SHADOW ------ */
$shadow-color: rgba(25, 25, 25, 0.3);

/* ----- MODAL STYLING ------ */
$modal-bg-color: RGBA(138, 80, 40, .8);