@use "../../styles/vars";

.navbar {

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-left: 1rem;

  font-family: vars.$navbar-font-family;
  font-size: vars.$navbar-font-size;
  font-weight: vars.$navbar-font-weight;
  
  //  background-color: #F0F;

  &__container {
    // box-shadow: 0 0 15px vars.$navbar-shadow-color;
  }
  
  &__buttons {

    max-width: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px vars.$navbar-shadow-color;
    border-right: 4px solid #fff;
    background-size: 200% 200%;
    background-position: left;
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s; 


    &--icons {
      width: 4rem;
      // margin-left: .4rem;
    }

    &--domaine {
      border-color: vars.$navbar-btn-domaine;

      background-image: linear-gradient(to left, vars.$navbar-btn-domaine 50%, vars.$navbar-btn-main 0);
    }

    &--vins {
      border-color: vars.$navbar-btn-vins;

      background-image: linear-gradient(to left, vars.$navbar-btn-vins 50%, vars.$navbar-btn-main 0);
    }

    &--boutique {
      border-color: vars.$navbar-btn-boutique;

      background-image: linear-gradient(to left, vars.$navbar-btn-boutique 50%, vars.$navbar-btn-main 0);
    }

    &--news {
      border-color: vars.$navbar-btn-news;

      background-image: linear-gradient(to left, vars.$navbar-btn-news 50%, vars.$navbar-btn-main 0);
    }

    &--contact {
      border-color: vars.$navbar-btn-contact;

      background-image: linear-gradient(to left, vars.$navbar-btn-contact 50%, vars.$navbar-btn-main 0);
    }

    &--parent {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    &--parent span {
      padding: 0 .5rem;
      font-size: 2.5rem;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }

  }

  &__buttons:hover {
    background-position: right;
  }

  &__buttons:hover + span {
    visibility: visible;
    opacity: 1;
  }

}

ul {
  list-style: none;
  padding-left: 0;
}