/* ----- Style Navbar, Header, Carousel ----- */
$navbar-btn-main: RGBA(0, 0, 0, .1);
$navbar-btn-domaine: RGBA(204, 89, 67, .6);
$navbar-btn-vins: RGBA(233, 139, 46, .6);
$navbar-btn-news: RGBA(136, 129, 56, .6);
$navbar-btn-boutique: RGBA(159, 32, 50, .6);
$navbar-btn-contact: RGBA(138, 80, 40, .6);

$navbar-label-domaine: RGBA(204, 89, 67, .9);
$navbar-label-vins: RGBA(233, 139, 46, .9);
$navbar-label-news: RGBA(136, 129, 56, .9);
$navbar-label-boutique: RGBA(159, 32, 50, .9);
$navbar-label-contact: RGBA(138, 80, 40, .9);

$navbar-text-shadow-color: rgba(25, 25, 25, .4);
$navbar-shadow-color: rgba(25, 25, 25, .2);

$navbar-font-size: 2rem;
$navbar-font-family: 'karbon-regular';
$navbar-font-weight: 900;

/* ----- FONT-COLORS ----- */
$color-teal: #51B2AC;

/* ----- BOX-SHADOW ------ */
$shadow-color: rgba(25, 25, 25, 0.3);