/* ----- Style Navbar, Header, Carousel ----- */
$navbar_height: 6.4rem;
$marginTop : $navbar_height;

/* ----- FONT-COLORS ----- */
$color-teal: #51B2AC;

/* ----- BOX-SHADOW ------ */
$shadow-color: rgba(25, 25, 25, 0.5);